.article-container {
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
}

.article-top-section {
  display: flex;
}

.article-title-section {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  font-family: 'Anton', sans-serif;
  font-size: 2em; /* Adjust as needed */
}


.article-image-section {
  flex: 1;
  background-size: cover;
  height: 500px; /* Adjust as needed */
  margin-top: 50px;
}

.article-bottom-section {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}
.article-content::first-letter {
  font-size: 3em; /* Adjust the size as needed */
  font-weight: bold;
  font-style: italic;
  font-family: 'Rouge Script', cursive;

}

.article-content {
  margin-bottom: 20px;
  column-count: 2; /* Number of columns */
  column-gap: 20px; /* Gap between columns */
  overflow: hidden; /* Ensures the content does not overflow its container */
}


.article-author {
  font-size: 1.2em;
  display: block; /* Makes the author appear on a new line */
  font-style: italic;
  text-align: center; /* Center the author text */
  font-family: 'Cormorant', serif; /* Apply the Cormorant font */
  column-span: all; /* This ensures the author spans across all columns */
}
.explore-button4 {
  justify-content: center; /* Centers the button horizontally */
  align-items: center;
  background-color: #000000; /* Button background color */
  color: white; /* Text color */
  padding: 10px 20px;
  border: none;
  border-radius: 0; /* Sharp corners */
  font-size: 12px;
  font-family: 'Roboto Slab', serif; /* Roboto Slab font */
  cursor: pointer;
}
.button-container {
  display: flex;
  justify-content: center; /* Centers the buttons horizontally */
  align-items: center; /* Centers the buttons vertically, if needed */
}
