.article-container {
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
}

.article-top-section {
  display: flex;
}

.article-title-section {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  font-family: 'Anton', sans-serif;
  font-size: 2em; /* Adjust as needed */
}


.article-image-section {
  flex: 1;
  background-size: cover;
  height: 500px; /* Adjust as needed */
  margin-top: 50px;
}

.article-bottom-section {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}
.article-content::first-letter {
  font-size: 3em; /* Adjust the size as needed */
  font-weight: bold;
  font-style: italic;
  font-family: 'Rouge Script', cursive;
  margin-left: 10px;

}

.article-content {
  margin-bottom: 20px;
  column-count: 2; /* Number of columns */
  column-gap: 20px; /* Gap between columns */
  overflow: hidden; /* Ensures the content does not overflow its container */
}


.article-author {
  font-size: 1.2em;
  display: block; /* Makes the author appear on a new line */
  font-style: italic;
  text-align: center; /* Center the author text */
  font-family: 'Cormorant', serif; /* Apply the Cormorant font */
  column-span: all; /* This ensures the author spans across all columns */
}
.explore-button4 {
  justify-content: center; /* Centers the button horizontally */
  align-items: center;
  background-color: #000000; /* Button background color */
  color: white; /* Text color */
  padding: 10px 20px;
  border: none;
  border-radius: 0; /* Sharp corners */
  font-size: 12px;
  font-family: 'Roboto Slab', serif; /* Roboto Slab font */
  cursor: pointer;
}
.button-container {
  display: flex;
  justify-content: center; /* Centers the buttons horizontally */
  align-items: center; /* Centers the buttons vertically, if needed */
}
/* article-detail.component.css */
.heart-icon {
  font-size: 30px; /* Adjust the size as needed */
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.comment-icon {  font-size: 18px; /* Adjust as needed */
  margin-bottom: -6px;
}

.liked {
  color: red;
}

/* Add this to your existing CSS styles */
.article-interaction-section {
  display: flex;
  align-items: center;
}

.heart-icon,
.comment-icon {
  cursor: pointer;
  margin-right: 10px; /* Adjust as needed */
}

.comment-icon {
  color: #000000; /* Comment icon color */
}
/* article-detail.component.css */

.comment-container {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0px;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment {
  margin-bottom: 15px;
  position: relative; /* Set position relative for absolute positioning of the line */

}
.comment::after {
  content: ''; /* Add content to create the line */
  position: absolute; /* Position the line */
  bottom: 0; /* Align the line to the bottom of the comment */
  left: 0; /* Align the line to the left */
  width: 100%; /* Make the line full width */
  height: 1px; /* Set the height of the line */
  background-color: #e0e0e0; /* Set the color of the line */
}
.comment-content {
  display: flex;
  align-items: center;
}

.comment-username {
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}

.comment-text {
  color: #555;
}
.comment-input {
  margin-top: 20px;
  display: flex; /* Make the input and button appear in a row */
  align-items: center; /* Align items vertically in the center */
}

.comment-input input {
  flex: 1; /* Let the input field grow to fill available space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.comment-input button {
  width: 30px;
  height: 30px;
  margin-left: 10px; /* Add some space between the input and button */
  background-color: #f0ebeb;
  color: #888;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.comment-input button:hover {
  background-color: #dcd6d6;
}
