.article-detail-container {
  font-family: 'Open Sans', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #333;
}

.article-header {
  
  text-align: center;
  margin-bottom: 30px;
}

.article-header .article-title {
  font-family: 'Anton', sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.article-body {
  font-size: 18px;
  line-height: 1.6;
  color: #444;
  column-count: 2; /* Creates two columns */
  column-gap: 40px; /* Space between columns */
}

/* Adjusting the size and position of the image */
.article-body img {
  float: right; /* Aligns the image to the right within the second column */
  margin-bottom: 20px;
}
  .article-image {
    max-width: 300px; /* Adjusts the maximum width of the image */
    height: auto; /* Maintains the aspect ratio of the image */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 20px;

    margin-bottom: 10px;
    margin-left: 400px;

  }


@media (max-width: 768px) {
  .article-body {
    column-count: 1; /* Single column on smaller screens */
  }
  .article-body img {
    max-width: 100%; /* Image takes full width on smaller screens */
    float: none; /* Removes float for smaller screens */
  }
}

.article-actions {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.article-action-btn {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-btn {
  background-color: #C0A080; /* A beige color */
  color: white;
}

.delete-btn:hover {
  background-color: #B08A68; /* Darker shade for hover */
}

.update-btn {
  background-color: #708090; /* A slate gray color */
  color: white;
}

.update-btn:hover {
  background-color: #607080; /* Darker shade for hover */
}

.article-not-found {
  text-align: center;
  font-size: 20px;
  color: #666;
}

.article-meta {
  font-style: italic;
  color: #6D6875;
}

.article-author {
  font-family: 'Anton', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #4B5563;
  margin-bottom: 20px;
}
