<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

<footer>
      <div class="footer-content">
        <div class="footer-section velouria-title">
            <h3>VELOURIA</h3>
            <bR>
            <p>The latest fashion news, beauty coverage, celebrity style, fashion week updates, culture reviews, and videos on Velouria.com.</p>
            <p class="more-from">MORE FROM VELOURIA</p>
        </div>
      <div class="footer-section links">
          <div class="links-row">
              <ul>
                  <li>NEWSLETTER</li>
                  <li>CUSTOMER CARE</li>
                  <li>VERIFY SUBSCRIPTION</li>
                  <li>CONTACT US</li>
                  <li>ABOUT VELOURIA</li>
                  <li>CAREERS</li>
                  <li>PROJECTS</li>
                  <li>VELOURIA ARCHIVE</li>
              </ul>
          </div>
          <div class="links-row">
              <ul>

              </ul>
          </div>
      </div>
  </div>
  <br>
  <div class="footer-bottom">
    <div class="footer-links">
        <a href="#">ACCESSIBILITY HELP</a> |
        <a href="#">MASTHEAD</a> |
        <a href="#">VISUAL STORIES</a> |
        <a href="#">COOKIES SETTINGS</a>
    </div>
    <br>
    <p class="footer-disclaimer">© 2024 Condé Nast. All rights reserved. Use of this site constitutes acceptance of our User Agreement and Privacy Policy and Cookie Statement and Your California Privacy Rights. Velouria may earn a portion of sales from products that are purchased through our site as part of our Affiliate Partnerships with retailers. The material on this site may not be reproduced, distributed, transmitted, cached or otherwise used, except with the prior written permission of Condé Nast. Ad Choices</p>
</div>
</footer>
