<!-- user-profile.component.html -->
<div class="user-profile">
  <div class="profile-pic-container">
    <img src="/assets/images/{{ userProfile?.profile_pic }}" alt="Profile Picture" (error)="imageError($event)">
  </div>
  <div class="username">@{{ userProfile.username }}</div>
  <div class="name">{{ userProfile?.first_name }} {{ userProfile?.last_name }}
<!-- Edit Profile Section -->
 <!-- Edit Profile Section -->
 <div class="overlay" *ngIf="showEditProfile">
  <div class="edit-profile-container">
  <label>First Name:</label>
  <input type="text" [(ngModel)]="updatedUserProfile.first_name">
  <label>Last Name:</label>
  <input type="text" [(ngModel)]="updatedUserProfile.last_name">
  <label>Email:</label>
  <input type="email" [(ngModel)]="updatedUserProfile.email">
  <!-- Add more input fields as needed -->
  <button class="explore-button9" (click)="submitProfileUpdate()">Update</button> &nbsp;
  <button class="explore-button7" (click)="toggleEditProfile()">Cancel</button>

</div>
</div>
</div>

  <!-- Container to position dropdown correctly -->
  <div style="position: relative;">
    <!-- Ellipsis icon with click event -->
    <span class="ellipsis-icon" (click)="toggleDropdown()">&#x2026;</span>

    <!-- Dropdown container -->
    <div class="dropdown-container" *ngIf="showDropdown">
      <!-- Logout button -->
      <button class="logout-button" (click)="toggleEditProfile()">Edit Profile</button><br><br>
      <button class="logout-button" (click)="showNotifications()">Notifications</button><br><br>
      <button class="logout-button" (click)="logout()">Logout</button>
    </div>
  </div>
</div>


<!-- Notifications container -->
<div class="notifications-container" *ngIf="displayNotificationsModal">
  <ul>
    <li *ngFor="let notification of notifications">{{ notification.message }}       <span class="delete-icon" (click)="deleteNotification(notification.id)">X</span>
    </li>
  </ul>
</div>


  <hr class="elegant-separator">



  <!-- Additional details can be added here -->

<div class="article-interaction-section">
  <span [class]="'heart-icon'" title="Like this article">♡</span>

</div>



<div class="article-container">

    <div *ngFor="let article of likedArticles" class="article-card">
      <div class="article-image" [style.background-image]="'url(' + getImageUrl(article.image) + ')'" [routerLink]="['/article', article.id]">
      </div>

      <h2 class="article-title">{{ article.title }}</h2>
    </div>
</div>

