<!DOCTYPE html>
<html>
<head>

</head>
<body>

<nav class="navbar">
    <div class="brand-title" [routerLink]="['/home']">VELOURIA</div>
    <div class="separator"></div>
    <div class="navbar-links">
        <ul>
            <li><a href="/profile">View Profile</a></li>
            <li><a href="/login">Sign In</a></li>
            <li><a href="/login" (click)="logout()">Logout</a></li>
            <li><input type="text" placeholder="Search articles..." [(ngModel)]="searchTerm" (keyup.enter)="search()" /></li>
        </ul>
    </div>
</nav>
<br><br>
<script>
  window.addEventListener("scroll", function() {
      const navbarLinks = document.querySelector('.navbar-links');
      if (window.pageYOffset > 100) {
          navbarLinks.classList.add('hidden-links');
      } else {
          navbarLinks.classList.remove('hidden-links');
      }
  });
</script>





</body>
</html>
