<div class="article-category">
 <h1 *ngIf="category" class="category-title">{{ category.name }}</h1>
 <section *ngIf="category" class="category-background" [style.backgroundImage]="'url(' + category.image + ')'">
  <!-- Content within the section -->
</section>
  <div *ngIf="articles.length > 0; else noArticlesTemplate">
      <div class="article-container">
        <div *ngFor="let article of articles" class="article-card">
          <div class="article-image" [style.background-image]="'url(' + getImageUrl(article.image) + ')'" [routerLink]="['/article', article.id]">
          </div>

          <h2 class="article-title">{{ article.title }}</h2>
        </div>


    </div>
  </div>

  <ng-template #noArticlesTemplate>
    <p>No articles found in this category.</p>
  </ng-template>
</div>
