<br>
<br>
<section id="curated-articles">
  <div class="content-wrapper">
    <div class="article-collection">
      <article *ngFor="let category of categories" class="article-preview" [routerLink]="['/categories', category.id]">
        <div class="article-details" [style.background-image]="'url(' + category.image + ')'">
        </div>
      </article>
    </div>
  </div>
</section>

<!-- article-list.component.html -->
<div class="article-container">
  <div *ngFor="let article of articles" class="article-card">
    <!-- Top Section with Background Image -->
    <div class="article-image" [style.background-image]="'url(' + getImageUrl(article.image) + ')'" [routerLink]="['/article', article.id]">
      <!-- Image related content (if any) goes here -->
    </div>

    <!-- Bottom Section with Title -->
    <h2 class="article-title">{{ article.title }}</h2>
  </div>
</div>




