/* dashboard.component.css */

.dashboard-container {
  display: flex;
  min-height: 98.7vh;
}

.sidebar {
  background-color: #f9f9f9;
  color: rgba(101, 67, 33, 0.5);
  padding: 50px 20px;
  width: 300px;
  font-family: 'Anton', sans-serif; /* Use Anton font */
}

.sidebar h2 {
  font-family: 'Playfair Display', serif;
  font-size: 60px; /* Increase font size */
  margin-bottom: 60px; /* Increase margin */
  margin-left: -10px;
  color: #000000;
  font-weight: bold;
  position: fixed; /* Make the heading fixed */
margin-top: -10px;


}
.sidebar ul {
  color: rgba(101, 67, 33, 0.5);
  list-style-type: none;
  padding: 0;
  position: fixed; /* Make the heading fixed */
  margin-top: 90px;

}

.sidebar li {
  color: rgba(210, 180, 140, 0.5);
  margin-bottom: 20px; /* Increase margin */
}

.sidebar a {
  color: rgba(101, 67, 33, 0.5);
    text-decoration: none;
  font-size: 22px; /* Increase font size */
}

.sidebar a:hover {
  color: rgba(231, 84, 128, 0.5); /* A softer blue for a hover effect */
}

.sidebar .active {
  color: #5DADE2; /* A softer blue for the active link */
}
.separator {
  position: fixed; /* Make the heading fixed */

  width: 1px;
  background-color: lightgrey;
  height: 100%; /* Adjust the height as per requirement */
  margin-left: 340px; /* Space to the left of the line */
}
.sidebar-container {
  display: flex;
}
.content {
  flex: 1;
}
/* style.css */

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f9f9f9;
  color: #333;
  font-family: 'Anton', sans-serif;

}
/* style.css */

.delete-icon {
  cursor: pointer;
  padding: 4px 8px;
  display: inline-block;
  font-weight: bold;
  color: #FF6347; /* Tomato color for the icon, feel free to change */
  border-radius: 50%; /* Circular background on hover */
  transition: background-color 0.3s, color 0.3s;
}

.delete-icon:hover {
  background-color: #FF6347; /* Tomato background on hover */
  color: white; /* White X on hover */
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

button {
  padding: 5px 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}
