body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.login-page {
  display: flex;
  align-items: stretch;
  min-height: 100vh; /* Adjust as needed */
}

.left-section {
  flex: 1;
  background-size: cover;
  background-position: center;

}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  padding: 20px; /* Adjust as needed */
  flex-direction: column;

}
.toggle-section {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 10px; /* Space between buttons */
  margin-bottom: 20px; /* Space below the button section */
}

.explore-button4 {
  /* ... existing styles ... */
  flex-grow: 1; /* Optional: allows buttons to expand to fill the space */
}

.form-container {
  padding: 20px;
  max-width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.explore-button4 {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 0;
  font-size: 12px;
  font-family: 'Roboto Slab', serif;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}


/* Add additional CSS as needed */
/* Existing CSS ... */
.brand-title {
  color: #000000;
  font-size: 2.8em;
  font-weight: bold;
  font-family: 'Playfair Display';
  margin-top: -180px;
}

.sub-title {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.brand-title, .sub-title, .toggle-section, form, .error-message {
  width: 100%;
}

/* Continue with existing styles for .brand-title, .sub-title, .explore-button4, etc. */
.form-group {
  margin-bottom: 15px; /* Space between each form group */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333; /* or any color that matches your design */
}

.form-group input {
  width: 100%; /* Full width */
  padding: 10px; /* Comfortable padding */
  border: 1px solid #ccc; /* Subtle border */
  border-radius: 5px; /* Slightly rounded corners */
  font-size: 16px; /* Readable text size */
  transition: border-color 0.3s; /* Smooth transition for border color */
}

.form-group input:focus {
  outline: none;
  border-color: #007bff; /* Change border color on focus */
}
