<!-- login.component.html -->


<div class="login-page">
  <div class="left-section" style="background-image: url('assets/images/120.jfif');">
    <!-- Left section for background image -->
</div>
<div class="right-section">
  <h1 class="brand-title" [routerLink]="['/home']">VELOURIA</h1>
  <p class="sub-title">Sign in or create an account</p>


                <!-- Toggle buttons -->

  <div class="toggle-section">
      <button class="explore-button4" (click)="isUserLogin = true">User Login</button> &nbsp; &nbsp;
      <button class="explore-button4" (click)="isUserLogin = false">Admin Login</button>
  </div>
            <!-- User Login Form -->

  <form *ngIf="isUserLogin" (ngSubmit)="onUserLogin()">
      <div class="form-group">
          <label for="userEmail">Email:</label>
          <input type="email" id="userEmail" [(ngModel)]="user.email" name="email" placeholder="User Email" required>
      </div>

      <div class="form-group">
          <label for="userPassword">Password:</label>
          <input type="password" id="userPassword" [(ngModel)]="user.password" name="password" placeholder="Password" required>
      </div>

      <button type="submit" class="explore-button4">Login as User</button>
  </form>
            <!-- Admin Login Form -->

  <form *ngIf="!isUserLogin" (ngSubmit)="onAdminLogin()">
      <div class="form-group">
          <label for="adminEmail">Email:</label>
          <input type="email" id="adminEmail" [(ngModel)]="admin.email" name="email" placeholder="Admin Email" required>
      </div>

      <div class="form-group">
          <label for="adminPassword">Password:</label>
          <input type="password" id="adminPassword" [(ngModel)]="admin.password" name="password" placeholder="Password" required>
      </div>

      <button type="submit" class="explore-button4">Login as Admin</button>
  </form>
            <!-- Error Message -->

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>
</div>
<!-- login.component.html -->






