.container {
  max-width: 600px;
  margin: 20px auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
}

.form-control-file {
  margin-top: 10px;
}

.btn {

    justify-content: center; /* Centers the button horizontally */
    align-items: center;
    background-color: #000000; /* Button background color */
    color: white; /* Text color */
    padding: 10px 20px;
    border: none;
    border-radius: 0; /* Sharp corners */
    font-size: 12px;
    font-family: 'Roboto Slab', serif; /* Roboto Slab font */
    cursor: pointer;
  
}
